trigger:
  - main

pool:
  vmImage: 'ubuntu-latest'

steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: '3.x'
  - script: |
      pip install transformers tkinter
      python Untitled107.py
    displayName: 'Run Sentiment Analysis'
